# {{ ansible_managed }}

sshd_enable="{{ sshd }}"
syslogd_flags="{{ syslogd_flags }}"

sshguard_enable="{{ sshguard }}"
sshguard_watch_logs="{{ sshguard_watch_logs }}"
sshguard_safety_thresh="30"
sshguard_pardon_min_interval="21600" 
sshguard_prescribe_interval="86400"
sshguard_whitelist="{{ ansible_default_ipv4.network }}/24" 
