# {{ ansible_managed }}

Port {{ sshd_port }}
{% if sshd_listen_addresses is defined %}
# sshd_listen_addresses
{% for sshd_listen_address in sshd_listen_addresses %}
ListenAddress {{ sshd_listen_address }}
{% endfor %}
{% elif ansible_default_ipv4.address is defined %}
ListenAddress {{ ansible_default_ipv4.address }}
{% elif ansible_ssh_host is defined %}
ListenAddress {{ ansible_ssh_host  }}
{% endif %}

# The default requires explicit activation of protocol 1
Protocol 2
HostKey {{ ssh_conf }}/ssh_host_ed25519_key
HostKey {{ ssh_conf }}/ssh_host_rsa_key
Ciphers chacha20-poly1305@openssh.com,aes256-gcm@openssh.com,aes128-gcm@openssh.com,aes256-ctr,aes192-ctr,aes128-ctr
MACs hmac-sha2-512-etm@openssh.com,hmac-sha2-256-etm@openssh.com,hmac-ripemd160-etm@openssh.com,umac-128-etm@openssh.com,hmac-sha2-512,hmac-sha2-256,hmac-ripemd160,umac-128@openssh.com

PermitRootLogin {{ sshd_permit_root_login }}

RSAAuthentication yes
PubkeyAuthentication yes

# Change to no to disable PAM authentication
ChallengeResponseAuthentication no

UsePAM {{ sshd_password_authentication }}

AllowAgentForwarding yes
AllowTcpForwarding {{ sshd_tcp_forwarding }}
#GatewayPorts no
X11Forwarding {{ sshd_x11_forwarding }}
#X11DisplayOffset 10
#X11UseLocalhost yes
#PrintMotd yes
#PrintLastLog yes
#TCPKeepAlive yes
#UseLogin no
UsePrivilegeSeparation yes
PermitUserEnvironment no
#Compression delayed

# override default of no subsystems
Subsystem	sftp	/usr/libexec/sftp-server

# Example of overriding settings on a per-user basis
Match User ansible
	X11Forwarding no
	AllowTcpForwarding no
