# {{ ansible_managed }}
Port {{ sshd_port }}
{% if sshd_listen_addresses is defined %}
# sshd_listen_addresses
{% for sshd_listen_address in sshd_listen_addresses %}
ListenAddress {{ sshd_listen_address }}
{% endfor %}
{% else %}
ListenAddress {{ ansible_default_ipv4.address }}
{% endif %}

# The default requires explicit activation of protocol 1
Protocol 2

PermitRootLogin {{ sshd_permit_root_login }}

RSAAuthentication yes
PubkeyAuthentication yes

# Change to no to disable PAM authentication
ChallengeResponseAuthentication no

UsePAM {{ sshd_password_authentication }}

AllowAgentForwarding yes
AllowTcpForwarding {{ sshd_tcp_forwarding }}
#GatewayPorts no
X11Forwarding {{ sshd_x11_forwarding }}
#X11DisplayOffset 10
#X11UseLocalhost yes
#PrintMotd yes
#PrintLastLog yes
#TCPKeepAlive yes
#UseLogin no
UsePrivilegeSeparation yes
PermitUserEnvironment no
#Compression delayed

# override default of no subsystems
Subsystem	sftp	/usr/libexec/sftp-server

# Example of overriding settings on a per-user basis
Match User ansible
	X11Forwarding no
	AllowTcpForwarding no
